/* Check the comments for some extra tips! */

@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import url('https://fonts.googleapis.com/css?family=Kanit:300');
 body {
	color: #ddd;
	background: #000;
	margin: 0;
	font-family: 'Kanit', sans-serif;
}
p{
  color: #bbb;
}
h1 {
	color: #eee;
	font-family: 'Krona One', sans-serif;
}
a {
	color: #fff;
}
.button {
	color: #fff;
	text-decoration: none;
	margin: 1em auto;
	border: solid 1px #333;
	padding: 12px 20px;
	font-family: inherit;
	font-size: 1em;
	background: linear-gradient(to right, rgba(255, 202, 40, 1) 0%, rgba(255, 202, 40, 1) 25%, rgba(236, 64, 122, 1) 25%, rgba(236, 64, 122, 1) 50%, rgba(0, 184, 212, 1) 50%, rgba(0, 184, 212, 1) 75%, rgba(68, 68, 68, 1) 75%, rgba(68, 68, 68, 1) 100%);
	background-size: 400%;
	background-position: 100%;
	border-radius: 5px;
	text-shadow: 0 0 0 #000;
	transition: all 0.4s ease-in-out;
  user-select:none;
}
.button:hover {
	background-position: 0%;
	text-shadow: 0 0 4px #000;
}

/* This part of the code makes the <br> tag actually useful. While HTML beginners might use two of these tags to get a decent spacing between two lines, this property corrects that and may avoid a <br> mayhem. */

br {
	display: block;
	margin: 30px 0;
	content: '';
}
.jumbo {
	background: radial-gradient(ellipse at center, #252525, #000) fixed;
	position: relative;
	height: 100vh;
	width: 100%;
}
.jumbo .text {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.jumbo .text * {
	margin: 0;
}
.jumbo .text h1 {
	font-size: 10em;
	z-index: 1;
	text-shadow: 0 0 3px;
}

}
@keyframes shine {
	0% {
		color: #fff;
	}
	20% {
		color: #fff;
	}
	25% {
		color: #00b8d4;
	}
	45% {
		color: #00b8d4;
	}
	50% {
		color: #ec407a;
	}
	70% {
		color: #ec407a;
	}
	75% {
		color: #ffca28;
	}
	95% {
		color: #ffca28;
	}
	100% {
		color: #fff;
	}
}
.jumbo .text h2 {
	font-weight: normal;
}
.jumbo .text svg {
	margin: 0;
	fill: currentColor;
}

/* If you want to make a pulse animation with a text-shadow, instead of trying to animate the text-shadow property itself, I recommend creating a pseudo-element (:after or :before) with a text-shadow attached to it and animate its opacity. Animating the text-shadow property will look clunky since the blur radius only accepts pixels. */

.jumbo h1:after {
	content: 'ERROR 404';
	position: absolute;
	left: 0;
	text-shadow: 0 0 23px;
	opacity: 0;
	animation: pulse 4s infinite ease-in-out alternate;
}
@keyframes pulse {
	to {
		opacity: 1
	}
}
.scrolldown {
	position: fixed;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	animation: bounce 4s infinite ease-in-out alternate;
  user-select:none;
}
.scrolldown p {
	margin: 0
}
.scrolldown span:before {
	display: inline-block;
	content: "â¯";
	transform: rotate(90deg);
}

/* Avoid animating using position values (like left or top), they move objects in a pixel-perfect way which doesn't look good. Use transform:translate(); instead! */

@keyframes bounce {
	to {
		transform: translateY(-10px)
	}
}
.ctn,
.footer {
	position: relative;
	display: flex;
	border-top: solid 1px;
}
.ctn {
	border-image: linear-gradient(to left, #333 0%, #222 50%, #333 100%) 1;
	background: #181818;
	padding: 4em 4em;
}
.ctn h1 {
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.ctn p {
	text-align: justify;
}
.ctn > div,
.footer > div {
	display: flex;
	flex-basis: 50%;
	padding: 0 10px;
}
.ctn div {
  flex-direction: column;
	justify-content: center;
}
.ctn div div {
	padding: 0
}

/* Really useful when it comes to making containers with multiple aligned items, the :last-child selector here selects the final div of each .ctn so that it will align the text accordingly. */

.ctn div:last-child {
	text-align: right;
}

/* Talking about childs, here is the :only-child selector. This selector is going to check if the div is the only child of the .ctn, and if so is gonna override properties. */

.ctn > div:only-child {
	margin: 0 auto;
}
.ctn > div:only-child,
.ctn > div:only-child p {
	text-align: center;
}
.ctn > div:only-child h1 {
	font-size: 3.5em;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	margin: 0;
}
div > svg,
div > img {
	display: block;
	margin: auto;
}
p.legend {
	font-size: 0.80em;
	text-align: center;
	font-style: italic;
	color: #666;
}
.footer {
	display: flex;
	border-image: linear-gradient(to right, rgba(255, 202, 40, 1) 0%, rgba(236, 64, 122, 1) 13%, rgba(0, 184, 212, 1) 25%, rgba(51, 51, 51, 1) 38%, rgba(34, 34, 34, 1) 50%, rgba(51, 51, 51, 1) 100%) 1;
	background: #000;
	padding: 25px 50px 50px 50px;
}
.footer ul {
	list-style-type: none;
}
.footer ul * {
	color: #999;
	text-decoration: none;
}
.footer ul li:first-child {
	font-size: 1.25em;
	color: inherit;
	font-weight: bold;
	margin-bottom: 10px;
}
